.header {
    background-color: lightblue;
    padding: 16px;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.ant-picker,
.ant-select,
.ant-picker-input {
    width: calc(50% - 400px);
    margin: 16px;
}

.timePickerContainer {
    margin-left: 32px; /* Add margin to create space */
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.ant-btn {
    margin: 16px;
}

.imageContainer {
    margin-bottom: 16px;
    text-align: center;
}

.imageContainer {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

@media (max-width: 600px) {
    .datePickerContainer,
    .timePickerContainer {
        width: 100%;
        margin-left: 0; /* Reset margin to remove space between date and time picker */
    }

    .buttonContainer {
        justify-content: center;
    }

    .ant-btn {
        margin-left: 0;
        margin-right: 32px;
    }
}

h1 {
    margin: 32px;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    background: azure;
}

.display-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px;
    padding: 40px;
}

.image-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:64px;
}

.ant-card {
    width: 300px;
    height: 230px;
    background: pink;
    font-size: 12px;
    color: green;
}

.footer {
    background-color: lightblue;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}